.page {
  @include container;
  padding-block: 40px;
}

.section {
  margin-top: 16px;
  & + & { margin-top: 48px; }
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  @include sm { grid-template-columns: repeat(2, 1fr); }
  @include xl { grid-template-columns: repeat(3, 1fr); }
}

.peopleGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  @include sm { grid-template-columns: repeat(3, 1fr); }
  @include lg { grid-template-columns: repeat(4, 1fr); }
  @include xl { grid-template-columns: repeat(5, 1fr); }
}
