.empty {
  padding: 80px 0;
  text-align: center;
  color: var(--gray-400);
}

.icon {
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  margin: 0 auto 12px;
  border-radius: var(--radius-full);
  background: var(--gray-100);
  color: var(--gray-500);
}

.text {
  @include text-sm;
}
